{% extends 'home/base.html' %}

{% load static %}

{% block content %}
{% csrf_token %}
<table  class="table table-bordered"  id="myTable">
<thead>
<th>
Name
</th>
<th>
Contact
</th>
<th>
Text
</th>
<th>
Actions
</th>
</thead>
<tbody>
</tbody>
</table>

<div id="feedbackform">
  <form action="" method="post">

    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    <button  id="createFeedback"  class="btn" onclick="createFeedback()"> Create Feedback </button>
  </form>
  <p id="createFeedbackMessage"></p>
</div>

{% endblock %}

{% block javascript %}
  <script  src="{% static 'js/app.js' %}"></script>
{% endblock %}